@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 1320px;
  margin: 0 auto;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.header_area {
  background-color: #ddd;
  padding-top: 25px;
  padding-bottom: 75px;
}
.header_area .logo {
  width: 200px;
  float: left;
}
.header_area .logo img {
  width: 80px;
}
.header_area .menu {
  float: right;
  width: 766px;
  margin-left: 30px;
}
.header_area .menu ul {
  text-align: right;
}
.header_area .menu ul li {
  display: inline-block;
}
.header_area .menu ul li a {
  text-decoration: none;
  font-size: 21px;
  text-transform: capitalize;
  margin-right: 29px;
  color: #333;
}

.banner_area {
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
}
.banner_area.gradient_right_color:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgba(59, 76, 144, 0.006039916) 75%, rgb(255, 255, 255) 100%);
}
.banner_area:after {
  clear: both;
  display: table;
  content: "";
}
.banner_area .banner_content {
  width: 710px;
  float: left;
  margin-top: 192px;
  position: absolute;
  z-index: 10 !important;
}
.banner_area .banner_content h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.banner_area .banner_content h2 {
  font-size: 57px;
  line-height: 61px;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
}
.banner_area .banner_content p {
  color: #fff;
  font-size: 16px;
  margin-bottom: 40px;
}
.banner_area .banner_content .banner_btn {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  border: 2px solid #e60090;
  background-color: #e60090;
  padding: 15px 25px;
  border-radius: 10px;
}
.banner_area .banner_content .banner_btn:hover {
  background-color: #b30070;
  border: 2px solid #b30070;
  transition: 0.5s;
}

.single_promo_area {
  background-color: #d7d7d7;
  padding-top: 100px;
  padding-bottom: 100px;
}
.single_promo_area:after {
  clear: both;
  display: table;
  content: "";
}
.single_promo_area .promo .single_promo {
  float: left;
  width: 416px;
  background-color: #fff;
  padding: 66px;
  margin-right: 36px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.single_promo_area .promo .single_promo:last-child {
  margin-right: 0px;
}
.single_promo_area .promo .single_promo:hover {
  background-color: #30C7FE;
  transition: 0.5s;
}
.single_promo_area .promo .single_promo:hover h2 {
  color: #fff;
  transition: 0.5s;
}
.single_promo_area .promo .single_promo:hover p {
  color: #fff;
  transition: 0.5s;
}
.single_promo_area .promo .single_promo:hover i {
  color: #fff;
  transition: 0.5s;
}
.single_promo_area .promo .single_promo i {
  font-size: 50px;
  margin-bottom: 20px;
  color: #5258a8;
}
.single_promo_area .promo .single_promo h2 {
  font-size: 22px;
  margin-bottom: 20px;
}
.single_promo_area .promo .single_promo p {
  font-size: 15px;
  line-height: 23px;
}

.about_area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.about_area:after {
  clear: both;
  display: table;
  content: "";
}
.about_area .about_image {
  float: left;
  width: 477px;
}
.about_area .about_image:hover img {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: 0.5s;
}
.about_area .about_image img {
  width: 100%;
}
.about_area .about_image .image {
  border-radius: 63% 37% 30% 70%/50% 45% 55% 50%;
  border: 16px solid #5258a8;
}
.about_area .about_content {
  float: right;
  width: 600px;
}
.about_area .about_content h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 49px;
}
.about_area .about_content p {
  font-size: 16px;
  margin-bottom: 36px;
  line-height: 25px;
}
.about_area .about_content .about_btn {
  -webkit-text-decoration: navajowhite;
          text-decoration: navajowhite;
  text-transform: capitalize;
  padding: 14px 20px;
  border: 2px solid #5258a8;
  border-radius: 5px;
  background-color: #5258a8;
  color: #fff;
}
.about_area .about_content .about_btn:hover {
  border: 2px solid #474d93;
  background-color: transparent;
  color: #474d93;
  transition: 0.5s;
}

.service_area {
  background-color: #F5F5F5;
  padding-top: 100px;
  padding-bottom: 100px;
}
.service_area:after {
  clear: both;
  display: table;
  content: "";
}
.service_area .service_title {
  text-align: center;
}
.service_area .service_title h2 {
  font-size: 34px;
  font-weight: 700;
}
.service_area .service_title p {
  max-width: 751px;
  margin: 30px auto;
  font-size: 18px;
  line-height: 30px;
}
.service_area .service {
  margin-top: 50px;
}
.service_area .service .single_service {
  width: 410px;
  background-color: #fff;
  padding: 43px 35px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.service_area .service .single_service:hover {
  transition: 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.service_area .service .single_service .icon {
  float: left;
}
.service_area .service .single_service .icon i {
  font-size: 34px;
  color: #474d93;
}
.service_area .service .single_service .service_content {
  float: right;
  width: 288px;
}
.service_area .service .single_service .service_content h3 {
  margin-bottom: 13px;
}
.service_area .service .single_service .service_content p {
  font-size: 14px;
  margin-bottom: 14px;
}
.service_area .service .single_service .service_content .service_btn {
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
}

.business_banner_area {
  background-size: cover;
  background-position: center;
  width: 100%;
}
.business_banner_area:after {
  clear: both;
  display: table;
  content: "";
}
.business_banner_area .gradient_business_banner_color {
  background: rgb(71, 77, 147);
  background: linear-gradient(90deg, rgb(71, 77, 147) 36%, rgb(248, 19, 163) 100%, rgb(255, 255, 255) 100%);
  height: 100%;
  bottom: 0px !important;
  overflow: auto;
  padding-top: 140px;
  padding-bottom: 100px;
  opacity: 0.75;
}
.business_banner_area .business_banner_content {
  text-align: center;
}
.business_banner_area .business_banner_content h2 {
  font-size: 40px;
  color: #fff;
}
.business_banner_area .business_banner_content p {
  color: #fff;
  margin: 30px auto;
  max-width: 580px;
}

.blog_area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.blog_area:after {
  clear: both;
  display: table;
  content: "";
}
.blog_area .blog_title {
  text-align: center;
}
.blog_area .blog_title h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 800;
}
.blog_area .blog_title p {
  max-width: 600px;
  margin: 30px auto;
}
.blog_area .blog {
  margin-top: 50px;
}
.blog_area .blog .single_blog {
  width: 417px;
  float: left;
  margin-right: 34px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.blog_area .blog .single_blog:last-child {
  margin-right: 0;
}
.blog_area .blog .single_blog:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s;
}
.blog_area .blog .single_blog .blog_overfollow_image img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog_area .blog .single_blog .blog_content_area {
  padding: 26px 20px;
}
.blog_area .blog .single_blog .blog_content_area .blog_author .author_info {
  width: 106px;
}
.blog_area .blog .single_blog .blog_content_area .blog_author .author_info img {
  width: 34px;
  border-radius: 50%;
  border: 1px solid #474D93;
  padding: 3px;
}
.blog_area .blog .single_blog .blog_content_area .blog_author .author_info .author_name {
  color: #000;
}
.blog_area .blog .single_blog .blog_content_area .blog_author .post_date {
  width: 122px;
  float: right;
  margin: 0 auto;
  margin-top: -39px;
}
.blog_area .blog .single_blog .blog_content_area .blog_author .post_date i {
  margin-top: 12px;
}
.blog_area .blog .single_blog .blog_content_area .blog_author span {
  font-size: 13px;
  -webkit-text-decoration: none aliceblue !important;
          text-decoration: none aliceblue !important;
  float: right;
  padding-top: 8px;
  margin-right: 15px;
}
.blog_area .blog .single_blog .blog_content_area .blog_content h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog_area .blog .single_blog .blog_content_area .blog_content p {
  font-size: 15px;
  margin-bottom: 20px;
}
.blog_area .blog .single_blog .blog_content_area .blog_content a {
  color: #000;
  text-decoration: none;
}
.blog_area .blog .single_blog .blog_content_area .blog_content .blog_btn {
  color: #000 !important;
  font-size: 16px !important;
  text-transform: capitalize !important;
}

.team_area {
  background-color: #F5F5F5;
  padding-top: 100px;
  padding-bottom: 100px;
}
.team_area:after {
  clear: both;
  display: table;
  content: "";
}
.team_area p {
  text-align: center;
}
.team_area .time_title {
  text-align: center;
}
.team_area .time_title h2 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 800;
}
.team_area .time_title p {
  max-width: 600px;
  margin: 30px auto;
}
.team_area .team .single_team {
  float: left;
  width: 420px;
  margin-right: 30px;
  background-color: #fff;
  padding: 64px 50px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.team_area .team .single_team:last-child {
  margin-right: 0;
}
.team_area .team .single_team .team_image {
  text-align: center;
}
.team_area .team .single_team .team_image img {
  width: 121px;
  border-radius: 50%;
  border: 6px solid #ddd;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.team_area .team .single_team .team_desig {
  text-align: center;
  margin-top: 20px;
}
.team_area .team .single_team .team_desig h3 {
  font-size: 20px;
}
.team_area .team .single_team .team_desig h3 span {
  display: block;
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
}
.team_area .team .single_team .team_social {
  margin-top: 12px;
  margin-bottom: 12px;
}
.team_area .team .single_team .team_social ul {
  text-align: center;
}
.team_area .team .single_team .team_social ul li {
  display: inline-block;
  padding: 9px;
  font-size: 18px;
}
.team_area .team .single_team .team_social ul li a {
  color: #474D93;
}
.team_area .team .single_team .team_social ul li a:hover {
  color: #df50ac;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */