.banner_area {
  background-size: cover;
  background-position: center;
  height: 70vh;
  position: relative;
  &.gradient_right_color:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,76,144,0.006039915966386533) 75%, rgba(255,255,255,1) 100%);
  }
  &:after {
    clear: both;
    display: table;
    content: "";
  }
  // Banner content section
  .banner_content {
    width: 710px;
    float: left;
    margin-top: 192px;
    position:absolute;
    z-index: 10 !important;
    h3 {
      color: #fff;
      font-size: 25px;
      margin-bottom: 15px;
      text-transform: capitalize;
    }
    h2 {
      font-size: 57px;
      line-height: 61px;
      margin-bottom: 15px;
      color: #fff;
      font-weight: 700;
    }
    p {
      color: #fff;
      font-size: 16px;
      margin-bottom: 40px;
    }
    .banner_btn {
      text-decoration: none;
      text-transform: capitalize;
      color: #fff;
      border: 2px solid #e60090;
      background-color: #e60090;
      padding: 15px 25px;
      border-radius: 10px;
      &:hover {
        background-color: #b30070;
        border: 2px solid #b30070;
        transition: .5s;
      }
    }
  }
}










