

















.blog_area:after {
    clear: both;
    display: table;
    content: "";
  }
  .blog_area {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .blog_title {
    text-align: center;
  }
  .blog_title h2 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 800;
  }
  .blog_title p {
    max-width: 600px;
    margin: 30px auto;
  }














