
.service_area {
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 100px;
    &:after {
        clear: both;
        display: table;
        content: "";
    }
    // service title
    .service_title {
        text-align: center;
        h2 {
            font-size: 34px;
            font-weight: 700;
        }
        p {
            max-width: 751px;
            margin: 30px auto;
            font-size: 18px;
            line-height: 30px;
        }
    }
    //  Single service
    .service{
        margin-top: 50px;
        .single_service {
            width:410px;
            background-color: #fff;
            padding: 43px 35px;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            border-radius: 10px;
            &:hover {
                transition: .5s;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
            .icon {
                float: left; 
                i {
                    font-size: 34px;
                    color: #474d93;
                }     
            }
            .service_content {
                float: right;
                width: 288px;
                h3 {
                    margin-bottom: 13px;
                }
                p {
                    font-size: 14px;
                    margin-bottom: 14px;
                }
                .service_btn {
                    text-transform: capitalize;
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    

}







  