
.team_area {
    background-color: #F5F5F5;
    padding-top: 100px;
    padding-bottom: 100px;
    &:after {
        clear: both;
        display: table;
        content: "";
    }
    // Team Title area
    .time_title {
        text-align: center;
        h2 {
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 800;
        }
        p {
            max-width: 600px;
            margin: 30px auto;
        }
    }
    // single team area
    .team{
        // single team
        .single_team {
            float: left;
            width: 420px;
            margin-right: 30px;
            background-color: #fff;
            padding: 64px 50px;
            border-radius: 10px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            &:last-child {
                margin-right: 0;
            }
            // team image
            .team_image {
                text-align: center;
                img {
                    width: 121px;
                    border-radius: 50%;
                    border: 6px solid #ddd;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }     
            }
            // team designation
            .team_desig {
                text-align: center;
                margin-top: 20px;
                h3 {
                    font-size: 20px;
                    span {
                        display: block;
                        font-size: 15px;
                        font-weight: normal;
                        margin-top: 10px;
                    }
                }
            }
            
        }
    }
}








  
  
  
  













  



















